@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Restaurante Grupo 2</h1>
        <p class="lead">Proyecto del Grupo 2, haciento uso de .NET Framework, Entity, LINQ, WFC y un frontend basado en una arquitectura MVC</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Aprende mas de .NET &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Entity Framework</h2>
            <p>
                Entity Framework es un asignador de relaciones de objetos actual que permite crear una capa de acceso a datos limpia, portátil y de alto nivel con .NET (C#) en una variedad de bases de datos, como SQL Database (local y Azure), SQLite, MySQL, PostgreSQL y Azure Cosmos DB. Admite consultas LINQ, seguimiento de cambios, actualizaciones y migraciones de esquemas.
            </p>
            <br>
            <p><a class="btn btn-outline-dark" href="https://learn.microsoft.com/es-es/ef/">Aprende mas &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">LINQ</h2>
            <p>Es una característica de C# que permite realizar consultas sobre colecciones de datos de manera intuitiva y eficiente. Facilita la escritura de consultas similares a SQL directamente en el código, lo que simplifica el manejo y manipulación de datos en aplicaciones .NET. Con LINQ, se pueden filtrar, ordenar y agrupar datos de manera declarativa, mejorando la legibilidad y mantenibilidad del código.</p>
            <p><a class="btn btn-outline-dark" href="https://learn.microsoft.com/es-es/dotnet/csharp/linq/">Aprende mas &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">WCF</h2>
            <p>WCF (Windows Communication Foundation) es un marco de trabajo en C# para construir servicios distribuidos y escalables. Proporciona un modelo unificado para la comunicación entre aplicaciones a través de diversos protocolos y formatos de datos. WCF permite crear servicios interoperables que pueden comunicarse entre plataformas y tecnologías diferentes de manera eficiente y segura.</p>
            <p><a class="btn btn-outline-dark" href="https://learn.microsoft.com/es-es/dotnet/framework/wcf/whats-wcf">Aprende mas &raquo;</a></p>
        </section>
    </div>
</main>