@{
    ViewBag.Title = "Error Usuario";
}

<h2>Error de ingreso al sistema</h2>

@using (Html.BeginForm("retornarLogin", "Login", FormMethod.Post))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Sistema Laboratorio Progra 4</h1>
            </div>
            <span style="color: black; font-size:14px; margin-left:10px;">
                <img class="manImg" src="~/Imagenes/error.png" height="50" width="50">
                El usuario no existe, por favor verifique.
            </span>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="submit">Aceptar</button>
            </div>
        </div>
    </div>
}